[Unit]
Description=Restore IPv6 firewall settings across reboots
ConditionPathExists=/etc/ip6tables.rules
Before=network-pre.target
Wants=network-pre.target
After=tallow.service
Wants=tallow.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/ip6tables-restore --wait=5 /etc/ip6tables.rules

[Install]
WantedBy=multi-user.target
