[Unit]
Description=Restore IPv4 firewall settings across reboots
ConditionPathExists=/etc/iptables.rules
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/iptables-restore /etc/iptables.rules

[Install]
WantedBy=multi-user.target
